@media ( min-width: 360px ) {
  .header{
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: #fdffff;
    top: 0px;
    padding: 0 10px;
  }

  .logoAnimal{
    width: 100px;
    height: 100px;
  }

  .nav{
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav_wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    align-items: center;
  }

  .nav_wrapper > svg {
    margin: 0 10px;
  }

  .logo{
    padding: 0.5rem 0;
  }

  .login{
    display: flex;
    align-items: center;
    color: #333;
  }

  .form_wrapper {
    width: 100%;
  }

  .search_form{
    width: 80%;
    margin: 2px auto;
  }

  .search_input {
    color: var(--primary-color);
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    margin-right: 0.5rem;
    background: transparent;
    border: none;
  }

  .input_wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
    background: transparent;
    padding-right: 0.7rem;
  }

  .notification_wrapper {
    position: relative;
  }
  
  .notification {
    opacity: 1;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7%;
    right: 4%;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: red;
   
}

.notification_counter{
  position: relative;
}

.notification::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f72918;
  border-radius: 50%;
  z-index: 0;
  transform: scale(0);
  animation: bounce 0.3s;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  14% {
    transform: scale(1.15);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.15);
  }

  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.btn_notification {
  border: none;
  background: transparent;
  cursor: pointer;
}

.notes_menu_container{
    width: 100%;
    padding: 2rem 1rem;
    margin: 2rem 0;
    height: 150px;
    background: var(--secondary-color);
  
}

.notes_menu_container > h1 {
  font-size: 12px;
  color: white;
}

.notes_menu_open{
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 0 1rem;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-radius: .2rem;
    transform: translateX(-10px );
    opacity: 1;
 }
     
}

@media ( min-width: 1366px ) {
  
  .nav{
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
  }

  .nav_wrapper{
    width: 120px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    align-items: center;
  }

  .nav_wrapper > svg {
    margin: 0 10px;
  }

  .logo{
    padding: 0.5rem 0;
  }

  .login{
    display: flex;
    align-items: center;
    color: #333;
  }

  .form_wrapper {
    display: flex;
    align-items: center;
    width: 60%;
  }

  .search_form{
    width: 80%;
    margin: 2px auto;
  }

  .search_input {
    color: var(--primary-color);
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    margin-right: 0.5rem;
    background: transparent;
    border: none;
  }

  .input_wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
    background: transparent;
    padding-right: 0.7rem;
  }
     
  .notification_wrapper {
    position: relative;
    padding-top: 0.2rem;
  }
  
  .notification {
    opacity: 1;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7%;
    right: 4%;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: red;
   
}

.notification_counter{
  position: relative;
}

.notification::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f72918;
  border-radius: 50%;
  z-index: 0;
  transform: scale(0);
  animation: bounce 0.3s;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  14% {
    transform: scale(1.15);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.15);
  }

  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

}